<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= __('title') %></title>
    <meta name="description"
          content="<%= __('description') %>"/>
    <meta itemprop="image" content="">

    <meta name="robots" content="index, follow"/>

    <meta name="twitter:card" content="InstaSaver.me"/>
    <meta name="twitter:title" content="<%= __('twitter_title') %>">
    <meta name="twitter:description" content="<%= __('twitter_description') %>">
    <meta name="twitter:image:src" content="/images/quickload.png"/>
    <meta name="twitter:site" content="InstaSaver"/>

    <meta property="og:title" content="<%= __('og_title') %>">
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="/images/quickload.png"/>
    <meta property="og:description" content="<%= __('og_description') %>">
    <meta property="og:site_name" content="InstaSaver"/>

    <meta name="google-site-verification" content="Jzcv9PjbMl4axzeu37NSBZW2uEEsrtfT5HIEy8I2Q1Y" />

    <link rel="icon" type="image/png" href="/images/quickload.png">

    <link rel="apple-touch-icon" sizes="192x192" href="/images/quickload.png">
    <link rel="shortcut icon" sizes="192x192" href="/images/quickload.png">
    <meta name="google" content="notranslate"/>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6705616556499368"
            crossorigin="anonymous"></script>

    <link rel="alternate" hreflang="x-default" href="https://instasaver.me/en">
    <link rel="canonical" href="https://instasaver.me/en">
    <link rel="alternate" hreflang="af" href="https://instasaver.me/af">
    <link rel="alternate" hreflang="sq" href="https://instasaver.me/sq">
    <link rel="alternate" hreflang="am" href="https://instasaver.me/am">
    <link rel="alternate" hreflang="ar" href="https://instasaver.me/ar">
    <link rel="alternate" hreflang="hy" href="https://instasaver.me/hy">
    <link rel="alternate" hreflang="az" href="https://instasaver.me/az">
    <link rel="alternate" hreflang="eu" href="https://instasaver.me/eu">
    <link rel="alternate" hreflang="be" href="https://instasaver.me/be">
    <link rel="alternate" hreflang="bn" href="https://instasaver.me/bn">
    <link rel="alternate" hreflang="bs" href="https://instasaver.me/bs">
    <link rel="alternate" hreflang="bg" href="https://instasaver.me/bg">
    <link rel="alternate" hreflang="ca" href="https://instasaver.me/ca">
    <link rel="alternate" hreflang="cab" href="https://instasaver.me/cab">
    <link rel="alternate" hreflang="zh-CN" href="https://instasaver.me/zh-CN">
    <link rel="alternate" hreflang="zh-TW" href="https://instasaver.me/zh-TW">
    <link rel="alternate" hreflang="co" href="https://instasaver.me/co">
    <link rel="alternate" hreflang="hr" href="https://instasaver.me/hr">
    <link rel="alternate" hreflang="cs" href="https://instasaver.me/cs">
    <link rel="alternate" hreflang="da" href="https://instasaver.me/da">
    <link rel="alternate" hreflang="nl" href="https://instasaver.me/nl">
    <link rel="alternate" hreflang="en" href="https://instasaver.me/en">
    <link rel="alternate" hreflang="eo" href="https://instasaver.me/eo">
    <link rel="alternate" hreflang="et" href="https://instasaver.me/et">
    <link rel="alternate" hreflang="fi" href="https://instasaver.me/fi">
    <link rel="alternate" hreflang="fr" href="https://instasaver.me/fr">
    <link rel="alternate" hreflang="fy" href="https://instasaver.me/fy">
    <link rel="alternate" hreflang="gl" href="https://instasaver.me/gl">
    <link rel="alternate" hreflang="ka" href="https://instasaver.me/ka">
    <link rel="alternate" hreflang="de" href="https://instasaver.me/de">
    <link rel="alternate" hreflang="el" href="https://instasaver.me/el">
    <link rel="alternate" hreflang="gu" href="https://instasaver.me/gu">
    <link rel="alternate" hreflang="ht" href="https://instasaver.me/ht">
    <link rel="alternate" hreflang="ha" href="https://instasaver.me/ha">
    <link rel="alternate" hreflang="haw" href="https://instasaver.me/haw">
    <link rel="alternate" hreflang="iw" href="https://instasaver.me/iw">
    <link rel="alternate" hreflang="hi" href="https://instasaver.me/hi">
    <link rel="alternate" hreflang="hmn" href="https://instasaver.me/hmn">
    <link rel="alternate" hreflang="hu" href="https://instasaver.me/hu">
    <link rel="alternate" hreflang="is" href="https://instasaver.me/is">
    <link rel="alternate" hreflang="ig" href="https://instasaver.me/ig">
    <link rel="alternate" hreflang="ga" href="https://instasaver.me/ga">
    <link rel="alternate" hreflang="it" href="https://instasaver.me/it">
    <link rel="alternate" hreflang="ja" href="https://instasaver.me/ja">
    <link rel="alternate" hreflang="jw" href="https://instasaver.me/jw">
    <link rel="alternate" hreflang="kn" href="https://instasaver.me/kn">
    <link rel="alternate" hreflang="kk" href="https://instasaver.me/kk">
    <link rel="alternate" hreflang="km" href="https://instasaver.me/km">
    <link rel="alternate" hreflang="ko" href="https://instasaver.me/ko">
    <link rel="alternate" hreflang="ku" href="https://instasaver.me/ku">
    <link rel="alternate" hreflang="ky" href="https://instasaver.me/ky">
    <link rel="alternate" hreflang="lo" href="https://instasaver.me/lo">
    <link rel="alternate" hreflang="la" href="https://instasaver.me/la">
    <link rel="alternate" hreflang="lv" href="https://instasaver.me/lv">
    <link rel="alternate" hreflang="lt" href="https://instasaver.me/lt">
    <link rel="alternate" hreflang="lb" href="https://instasaver.me/lb">
    <link rel="alternate" hreflang="mk" href="https://instasaver.me/mk">
    <link rel="alternate" hreflang="mg" href="https://instasaver.me/mg">
    <link rel="alternate" hreflang="ms" href="https://instasaver.me/ms">
    <link rel="alternate" hreflang="ml" href="https://instasaver.me/ml">
    <link rel="alternate" hreflang="mt" href="https://instasaver.me/mt">
    <link rel="alternate" hreflang="mi" href="https://instasaver.me/mi">
    <link rel="alternate" hreflang="mr" href="https://instasaver.me/mr">
    <link rel="alternate" hreflang="mn" href="https://instasaver.me/mn">
    <link rel="alternate" hreflang="my" href="https://instasaver.me/my">
    <link rel="alternate" hreflang="ne" href="https://instasaver.me/ne">
    <link rel="alternate" hreflang="no" href="https://instasaver.me/no">
    <link rel="alternate" hreflang="ny" href="https://instasaver.me/ny">
    <link rel="alternate" hreflang="ps" href="https://instasaver.me/ps">
    <link rel="alternate" hreflang="fa" href="https://instasaver.me/fa">
    <link rel="alternate" hreflang="pl" href="https://instasaver.me/pl">
    <link rel="alternate" hreflang="pt" href="https://instasaver.me/pt">
    <link rel="alternate" hreflang="pa" href="https://instasaver.me/pa">
    <link rel="alternate" hreflang="ro" href="https://instasaver.me/ro">
    <link rel="alternate" hreflang="ru" href="https://instasaver.me/ru">
    <link rel="alternate" hreflang="sm" href="https://instasaver.me/sm">
    <link rel="alternate" hreflang="gd" href="https://instasaver.me/gd">
    <link rel="alternate" hreflang="sr" href="https://instasaver.me/sr">
    <link rel="alternate" hreflang="st" href="https://instasaver.me/st">
    <link rel="alternate" hreflang="sn" href="https://instasaver.me/sn">
    <link rel="alternate" hreflang="sd" href="https://instasaver.me/sd">
    <link rel="alternate" hreflang="si" href="https://instasaver.me/si">
    <link rel="alternate" hreflang="sk" href="https://instasaver.me/sk">
    <link rel="alternate" hreflang="sl" href="https://instasaver.me/sl">
    <link rel="alternate" hreflang="so" href="https://instasaver.me/so">
    <link rel="alternate" hreflang="es" href="https://instasaver.me/es">
    <link rel="alternate" hreflang="su" href="https://instasaver.me/su">
    <link rel="alternate" hreflang="sw" href="https://instasaver.me/sw">
    <link rel="alternate" hreflang="sv" href="https://instasaver.me/sv">
    <link rel="alternate" hreflang="tl" href="https://instasaver.me/tl">
    <link rel="alternate" hreflang="tg" href="https://instasaver.me/tg">
    <link rel="alternate" hreflang="ta" href="https://instasaver.me/ta">
    <link rel="alternate" hreflang="te" href="https://instasaver.me/te">
    <link rel="alternate" hreflang="th" href="https://instasaver.me/th">
    <link rel="alternate" hreflang="tr" href="https://instasaver.me/tr">
    <link rel="alternate" hreflang="uk" href="https://instasaver.me/uk">
    <link rel="alternate" hreflang="ur" href="https://instasaver.me/ur">
    <link rel="alternate" hreflang="uz" href="https://instasaver.me/uz">
    <link rel="alternate" hreflang="vi" href="https://instasaver.me/vi">
    <link rel="alternate" hreflang="cy" href="https://instasaver.me/cy">
    <link rel="alternate" hreflang="xh" href="https://instasaver.me/xh">
    <link rel="alternate" hreflang="yi" href="https://instasaver.me/yi">
    <link rel="alternate" hreflang="yo" href="https://instasaver.me/yo">
    <link rel="alternate" hreflang="zu" href="https://instasaver.me/zu">

    <link rel="stylesheet" href="stylesheets/style.css">

    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SHTECEC0QC"></script>
    <script>
        function gtag() {
            dataLayer.push(arguments)
        }

        window.dataLayer = window.dataLayer || [], gtag("js", new Date), gtag("config", "G-SHTECEC0QC");
    </script>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light w-100 " style="box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);">
        <div class="container-fluid d-flex flex-row justify-content-between align-items-center w-100">

            <div class="navbar-brand d-flex">
                <div id="insta" class="fw-bold text-info">InstaSaver</div>
            </div>

            <button class="navbar-toggler d-sm-none" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse d-sm-none" id="navbarNav">
                <ul class="navbar-nav d-sm-none">
                    <li class="nav-item">
                        <a href="/en" class="nav-link ">English</a>
                    </li>
                    <li class="nav-item">
                        <a href="/vi" class="nav-link ">Tiếng Việt</a>
                    </li>
                    <li class="nav-item">
                        <a href="/id" class="nav-link ">Bahasa Indonesia</a>
                    </li>
                    <li class="nav-item">
                        <a href="/ms" class="nav-link ">Bahasa Malaysia</a>
                    </li>
                    <li class="nav-item">
                        <a href="/hi" class="nav-link ">हिन्दी</a>
                    </li>
                    <li class="nav-item">
                        <a href="/pt" class="nav-link ">Português</a>
                    </li>
                    <li class="nav-item">
                        <a href="/cs" class="nav-link ">čeština</a>
                    </li>
                    <li class="nav-item">
                        <a href="/jv" class="nav-link ">Basa Jawa</a>
                    </li>
                    <li class="nav-item">
                        <a href="/ko" class="nav-link ">한국어</a>
                    </li>
                    <li class="nav-item">
                        <a href="/it" class="nav-link ">Italiano</a>
                    </li>
                    <li class="nav-item">
                        <a href="/fr" class="nav-link ">Français</a>
                    </li>
                    <li class="nav-item">
                        <a href="/uk" class="nav-link ">українська мова</a>
                    </li>
                    <li class="nav-item">
                        <a href="/th" class="nav-link ">ภาษาไทย</a>
                    </li>
                    <li class="nav-item">
                        <a href="/ru" class="nav-link ">русский</a>
                    </li>
                    <li class="nav-item">
                        <a href="/es" class="nav-link ">Español</a>
                    </li>
                    <li class="nav-item">
                        <a href="/bn" class="nav-link ">বাংলা</a>
                    </li>
                    <li class="nav-item">
                        <a href="/pa" class="nav-link ">ਪੰਜਾਬੀ</a>
                    </li>
                    <li class="nav-item">
                        <a href="/tr" class="nav-link ">Turkish</a>
                    </li>
                    <li class="nav-item">
                        <a href="/de" class="nav-link ">German</a>
                    </li>
                    <li class="nav-item">
                        <a href="/ja" class="nav-link ">日本語</a>
                    </li>
                </ul>
            </div>

            <div class="dropdown d-none d-sm-block d-flex">
                <div class="btn nav-link dropdown-toggle" style="color: black" id="dropdownMenuButton1"
                     data-bs-toggle="dropdown" aria-expanded="false">
                    <%= __('language') %>
                </div>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a href="/en" class="dropdown-item">English</a></li>
                    <li><a href="/vi" class="dropdown-item">Tiếng Việt</a></li>
                    <li><a href="/id" class="dropdown-item">Bahasa Indonesia</a></li>
                    <li><a href="/ms" class="dropdown-item">Bahasa Malaysia</a></li>
                    <li><a href="/hi" class="dropdown-item">हिन्दी</a></li>
                    <li><a href="/pt" class="dropdown-item">Português</a></li>
                    <li><a href="/cs" class="dropdown-item">čeština</a></li>
                    <li><a href="/jv" class="dropdown-item">Basa Jawa</a></li>
                    <li><a href="/ko" class="dropdown-item">한국어</a></li>
                    <li><a href="/it" class="dropdown-item">Italiano</a></li>
                    <li><a href="/fr" class="dropdown-item">Français</a></li>
                    <li><a href="/uk" class="dropdown-item">українська мова</a></li>
                    <li><a href="/th" class="dropdown-item">ภาษาไทย</a></li>
                    <li><a href="/ru" class="dropdown-item">русский</a></li>
                    <li><a href="/es" class="dropdown-item">Español</a></li>
                    <li><a href="/bn" class="dropdown-item">বাংলা</a></li>
                    <li><a href="/pa" class="dropdown-item">ਪੰਜਾਬੀ</a></li>
                    <li><a href="/tr" class="dropdown-item">Turkish</a></li>
                    <li><a href="/de" class="dropdown-item">German</a></li>
                    <li><a href="/ja" class="dropdown-item">日本語</a></li>
                </ul>
            </div>

        </div>
    </nav>
</header>

<main class="mb-5">
    <% if(!locals.videos){
    %>

        <div class="form-container">
            <h1 class="text-white text-center fw-bold"><%= __('h1') %></h1>
            <h3 class="text-white text-center mt-4"><%= __('h2') %></h3>

            <form
                    method="post" action="/"
                    class="w-100 d-flex flex-column flex-sm-row align-items-sm-end justify-content-center mt-5">

                <div id="input_container">

                    <% if(locals.error === 0){ %>
                        <span id="noti" class="text-white"> <%= __('error') %></span>
                    <%
                    }else if(locals.error === 1){
                    %>
                        <span id="noti" class="text-white"> <%= __('timeout') %></span>
                    <%
                    } %>
                    <div class="input-group">
                        <input id="ip_link" type="text" class="form-control" name="url" required
                               autocomplete="off"
                               placeholder="<%= __('placeholder') %>" aria-label="Username"
                               aria-describedby="basic-addon1">
                        <input type="hidden" id="ip_lang" name="lang" value="<%= __('lang') %>">
                        <span id="btn_paste" class="input-group-text fw-bold px-4" style="color: #0098ff !important;">
                        <img class="img-button mx-1" src="/images/paste.png" style="height: 1.1rem; width: 1.1rem"
                             alt="paste">
                        <%= __('paste') %></span>
                    </div>
                </div>

                <div class="mt-2 mt-sm-0">
                    <button id="btn_download" type="submit"
                            class="btn bg-white text-dark p-2 p-sm-3 mx-sm-2 ">
                        <img class="img-button mx-1" src="/images/downloading.png" style="height: 1.3rem; width: 1.3rem"
                             alt="downloading">
                        <%= __('download') %></button>
                    <div id="loading"
                         style="display:none;"
                         class="btn w-100 bg-white text-dark p-2 p-sm-4 mx-sm-2">
                        <div class="spinner-border spinner-border-sm text-dark" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="des-container" style="margin-top: 25rem;">
            <h2 class=" mb-2 fw-bold text-center fw-bold"><%= __('h1_title') %></h2>
            <p class=" mt-4"> <%= __('h1_content') %></p>

            <div class="row g-2 g-sm-2 my-3">
                <div class="col-12 col-md-5 mb-3 mb-sm-0 d-flex justify-content-center">
                    <img src="/images/card1.webp"
                         class="img-fluid rounded" alt="...">
                </div>
                <div class="col-12 col-md-7">
                    <h2 class=" fw-bold"><%= __("card1_title") %></h2>
                    <p class=""><%= __("card1_content") %></p>
                </div>
            </div>

            <div class="row g-2 g-sm-2 my-3">
                <div class="col-12 col-md-7 mb-3 mb-md-0 order-2 order-md-1">
                    <h2 class=" fw-bold"><%= __("card2_title") %></h2>
                    <p class=""><%= __("card2_content") %></p>
                </div>
                <div class="col-12 col-md-5 order-1 order-md-2 d-flex justify-content-center">
                    <img src="/images/card2.webp"
                         class="img-fluid rounded" alt="...">
                </div>
            </div>

            <h2 class=" mt-md-5 fw-bold"><%= __('h2_title1') %></h2>
            <ul class="list-group px-4">
                <% __('h2_content1').forEach(function(item) { %>
                    <li class=" fs-6"><%= item %></li>
                <% }); %>
            </ul>

            <h2 class=" mt-3 fw-bold "><%= __('h2_title2') %></h2>
            <ul class="list-group px-4">
                <% __('h2_content2').forEach(function(item) { %>
                    <li class=" fs-6"><%= item %></li>
                <% }); %>
            </ul>

            <h2 class=" mt-3 fw-bold "><%= __('h2_title3') %></h2>
            <p class=" mt-2"><%= __('h2_content3') %></p>

            <h2 class=" mt-3 fw-bold">FAQ</h2>

            <div class="accordion accordion-flush" id="accordionFlushExample">
                <% __('FAQ').forEach(function(item, index) { %>
                    <div class="accordion-item mt-3 border-0">
                        <h2 class="accordion-header" id="flush-headingOne<%= index %>">
                            <button class="accordion-button collapsed text-white rounded-3" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne<%= index %>" aria-expanded="false"
                                    aria-controls="flush-collapseOne<%= index %>">
                                <%= item.Q %>
                            </button>
                        </h2>
                        <div id="flush-collapseOne<%= index %>" class="accordion-collapse collapse rounded-3"
                             style="box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);"
                             aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body"><%= item.A %></div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    <%
    } %>

    <% if(locals.videos){
    %>
        <div class="des-container">
            <div class="mt-5 row gap-4 gap-sm-2 gap-xl-3 gap-xxl-4">

                <% videos.forEach(video => {
                %>

                    <% if(video.type === 'mp4') { %>
                        <div id="card_download" class="card col-12 col-sm-6 col-xl-4">
                            <div id="image-wrapper">
                                <img
                                        crossorigin="anonymous"
                                        id="thumbnail"
                                        src="<%= video.thumbnail %>"
                                        class="card-img-top"
                                        alt="img...">

                                <img
                                        id="play-image"
                                        src="/images/mp4.png"
                                        alt="Play button">

                            </div>

                            <div class="card-body mt-1 video d-flex justify-content-center align-items-center">
                                <a href="https://dl.instasaver.me/?url=<%= video.src %>"
                                   class="btn fs-5 w-100 mx-2 text-white"
                                   style="background-color: #0098ff;"><%= __('save') %></a>
                            </div>

                        </div>
                    <% }else { %>
                        <div id="card_download" class="card col-12 col-sm-6 col-xl-4">
                            <div id="image-wrapper">
                                <img
                                        crossorigin="anonymous"
                                        id="thumbnail"
                                        src="<%= video.thumbnail %>"
                                        class="card-img-top"
                                        alt="img...">

                                <img
                                        id="play-image"
                                        src="/images/jpg.png"
                                        alt="Play button">

                            </div>

                            <div class="card-body mt-1 video d-flex justify-content-center align-items-center">
                                <a href="https://photo.instasaver.me/?url=<%= video.src %>"
                                   class="btn fs-5 w-100 mx-2 text-white"
                                   style="background-color: #0098ff;"><%= __('save') %></a>
                            </div>

                        </div>
                    <% } %>

                <%
                });
                %>

                <a href="/<%= __('lang') %>"
                   style="background-color: #0098ff;"
                   class="w-100 justify-content-center text-white align-items-center btn mt-3 btn fs-5 p-2 p-sm-2 ">
                    <%= __('back') %>
                </a>
            </div>
        </div>

    <%
    }
    %>
</main>

<footer class="text-center text-sm-start" style="background-color: 	#F0F8FF">
    <div class="container">
        <div class="text-center p-4 ">
            © 2024 InstaSaver.me - All rights reserved.
        </div>
    </div>
</footer>

<script>
    const ip_link = document.getElementById("ip_link"), btn_paste = document.getElementById("btn_paste"),
        btn_download = document.getElementById("btn_download"), loading = document.getElementById("loading"),
        noti = document.getElementById("noti"), input_container = document.getElementById("input_container");

    if (input_container) {
        input_container.addEventListener("click", () => {
            if (noti) {
                noti.innerText = ""
            }
        })
    }

    if (btn_paste) {
        btn_paste.addEventListener("click", async () => {
            try {
                ip_link.value = await navigator.clipboard.readText()
            } catch (n) {
                console.error("Error pasting from clipboard:", n)
            }
        });
    }
    if (btn_download) {
        btn_download.addEventListener("click", function () {
            btn_download.style.display = "none", loading.style.display = "block", "" === ip_link.value && (btn_download.style.display = "block", loading.style.display = "none")
        });
    }
</script>

<script>
    const link_err = document.getElementById("link_err"), cancel_err = document.getElementById("cancel_err");
    if (cancel_err) {
        cancel_err.addEventListener("click", function () {
            //  link_err.classList.add("hide")
            link_err.style.display = "none !important"
        });
    }
</script>

<script>
    const res_timeout = document.getElementById("res_timeout"),
        cancel_timeout = document.getElementById("cancel_timeout");

    if (cancel_timeout) {
        cancel_timeout.addEventListener("click", function () {
            //  res_timeout.classList.add("hide")

        });
    }

</script>
<script src="bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>
